<p id="notice"><%= notice %></p>

<ul>
<% @items.each do |item| %>
  <li><%= link_to "Show Menus", menus_import_path(@import, @filter => item)%> <%= null_helper item %></li>
<% end %>
</ul>

<%= link_to 'Back', import_path(@import) %>
